  /* .el-drawer__header {
    margin-bottom: 0 !important;
    padding: 0 16px !important;
    height: 50px;
    background-color: #3c4e75 !important;
    color: white !important;
  }

  .el-drawer__footer {
    padding: 0 16px !important;
    height: 50px;
    border-top: solid 1px #ddd;
  }

  .el-form-item__content {
    align-items: flex-start;
  } */

  /* ----- 自定義按鈕 ----- */
  /* .el-button--aa {
    color: var(--t-white) !important;
    background-color: var(--tertiary-600) !important;
  } */
