.el-drawer__header {
  height: 50px;
  margin-bottom: 0 !important;
  padding: 0 16px !important;
  border-bottom: 1px solid #eaeaea;
}
.el-drawer__footer {
  padding: 0 16px !important;
  height: 50px;
}
  /* ----- 自定義按鈕 ----- */
  /* .el-button--aa {
    color: var(--t-white) !important;
    background-color: var(--tertiary-600) !important;
  } */
