/* @font-face {
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-display: swap;
  src: url("@/assets/fonts/NotoSansTC/NotoSansTC-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-display: swap;
  src: url("@/assets/fonts/NotoSansTC/NotoSansTC-Bold.otf") format("opentype");
} */

/* // ----------------------------------------------------------------------------------------------- */
/* @font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-display: swap;
  src: url("@/assets/fonts/NotoSans/NotoSans-Regular.ttf") format("opentype");
}
 
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  font-display: swap;
  src: url("@/assets/fonts/NotoSans/NotoSans-Bold.ttf") format("opentype");
} */
